<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-md-12"><%= image_tag "logo.png" %></div>
	</div>
	<div class="row mt-5">
		<div class="offset-4"><%= image_tag "1.webp" %></div>
		<div class=""><%= image_tag "2.webp" %></div>
	</div>
	<div class="row">
		<div class=" offset-4"><%= image_tag "3.webp" %></div>
		<div class=""><%= image_tag "4.webp" %></div>
	</div>
	<div class="row">
		<div class=" offset-4"><%= image_tag "5.webp" %></div>
		<div class=""><%= image_tag "6.webp" %></div>
	</div>
</div>
